.common {
    border: 3px solid black;
}
.one {
    background-color: whitesmoke;
    height: 7vh;
}

.one li {
    display: inline;
    padding: 20px;

}
.one a {
    text-decoration: none;
}


.five {
    background-color: rgb(151, 0, 3);
    padding: 30px;
}
.five h3 {
    color: white;
}
.five p {
    color: white;
}