@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); 

.common {
    border: 3px solid black;

}

.one {
    background-color: whitesmoke;
    height: 7vh;
}
.two {
    background-color: whitesmoke; 
}
.two img {
    width: 50%;

}
.three {
    background-color: white;
    height: 90vh;
}

#heading {
    font-family: 'Tilt Prism', cursive;
    font-size: 70px;
}

#random {
    text-align: justify;
    width: 80%;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.four {
    background-color: white;
}
.five {
    background-color: rgb(151, 0, 3);
    padding: 30px;
}
.five h3 {
    color: white;
}
.five p {
    color: white;
}
.one li {
    display: inline;
    padding: 20px;

}
.one a {
    text-decoration: none;
}


.wingnames {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.wing {
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    width: 30%;
}